<div class="navbar-body">
	<div class="logo">
		<h2 class="navbar-title">Prototipo</h2>
		<div class="navbar-button" onclick="openMenu()">
			<%= image_tag "menu", :class => "img" %>
		</div>
	</div>

	<div class="menu" data-menu="">
		<div class="navbar-menu">
			<a href="#" class="link">Banner</a>
		</div>
		<div class="navbar-menu">
			<a href="#" class="link">Main</a>
		</div>
		<div class="navbar-menu">
			<a href="#" class="link">Footer</a>
		</div>
	</div>
</div>


<div class="carroussel-banner">
	<img src="http://placehold.it/350x200" class="banner-image">
</div>